*{
    margin: 0;
  }
  
  body{
    background: rgb(0, 0, 0);
  }
  
  .conteiner{
    width: 
    90%;
    margin: 3rem auto;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  
  h2{
      font-size: 20px;
      font-weight: 800;
      line-height: normal;
  }
  /* navber style */
  .hamburge{
    display: none;
  }
  

  .bagraundss{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding-top: 20px;
   
  }
  
  .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-option{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 0.50rem;
    border: 3px solid rgb(163, 73, 17);
    border-radius: 15px;
    color: rgb(198, 184, 190);
  }
  
  .home{
    background-color: rgb(179, 93, 12);
    border-radius: 5px;
    padding: 0px 4px;
  }
  .nav-option{
    font-weight: 500;
    font-size: 1rem;
  
  }
  .fitnes{
    font-weight: 700;
    font-size: 4rem;
    color: rgb(230, 83, 60);
    font-style: italic;
    margin-left: 36px;
  }
  /* descripson bar */
  
  .descripson-br{
   display: flex;
   justify-content: space-between;
   text-align: start;
  }
  
  .get h1{
  font-size: 5rem;
  font-weight: 800;
  color: rgb(88, 78, 161);
  margin-top: 3rem;
  
  }
  .get p{
    font-size: 1rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
  }
  /* btn style */
  .Join{
    border: none;
    padding: 1rem;
    font-size: 17px;
    background-color: rgb(230, 83, 60);
    border-radius: 15px;
    color:whitesmoke;
    
  }
  
  .download{
    padding: 1rem;
    font-size: 17px;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: 1px solid whitesmoke;
    margin-left: 1rem;
  }
  
  .btns{
    margin-top: 2rem;
  }
  
  /* photo btn */
  
  .photobox{
    position: relative;
    width: 100%;
    width: 400px;
  }
  .photobox, .fastph{
    width: 100%;
    height: 100%;
  }
  
  .photobox .btn2{
    position: absolute;
    top: 25%;
    left: 60%;
  
  }
  
  .photobox .btn3{
    position: absolute;
    top: 80%;
    right: 60%;
  }
  .btn3, .btn2{
    width: 140px;
    height: 70px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    border: none;
  }
  /* section 222 */
  .hading{
    justify-content: center;
    text-align: center;
  }
  .hading h1{
    font-size: 50px;
    color: whitesmoke;

  }
  .chang{
    color: rgba(255, 255, 255, 0.5);
  }

 .habits{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2rem;
 }

 .photost, .phto{
  border-radius: 50%;
  width: 100%;
 }

 .weblivs{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
 }

 .photost, h4{
  font-size: 20px;
  font-weight: 600;
  color: aqua;
 }
/* section 333 */

.runimg{
  width: 366px;
  height: 312px;
  border-radius: 25px;
 
}
.runimg, .run{
  color: whitesmoke;
  font-size: 2.50rem;
  width: 800;
  height: 200;
}

.runimg, .we{
  font-size: 1rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
}

.joinnow{
    border: none;
    padding: 1rem;
    font-size: 17px;
    background-color: rgb(230, 83, 60);
    border-radius: 15px;
    color: whitesmoke;
    width: 10rem;
    margin-top: 2rem;
}
.section3{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  background-color: rgba(72, 69, 66, 0.295);
  padding: 20px;
  border-radius: 15px;
}
/* title hed */
.hedigtitle{
  color: rgb(255, 255, 255);
}
.trenigs{
  font-size: 40px;
}
.descrpt{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}
/* section44 */

.photogrid img{
  width: 100%;
  height: 300px;
}
.row-1{
 display: grid;
 grid-template-columns: 0.50fr 1fr 0.50fr;
}

.row-2{
 display: grid;
 grid-template-columns: 1fr 0.50fr 0.60fr;
}
.photogrid{
  position: relative;
}
.shottitle{
  position: absolute;
  bottom: 20%;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  margin-left: 50px;
}

#chenging{
  position: absolute;
  bottom: 80%;
}
#chengingto{
  position: absolute;
  top: 30px;
  left: 60%;
}

.hedigtitle{
 margin-bottom: 1.5rem;
 margin-top: 4rem;
}

.shado1{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color:rgba(6, 255, 210, 0.5);
}
.shado2{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.3);
}
.shado3{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
}
.shado4{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.shado5{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(66, 255, 0, 0.3);
}
.shado6{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(0, 71, 255, 0.3);
}

/* section five 5 */

.calcuter{
  margin-left: 25%;
  font-size: 36px;
  color: rgb(255, 255, 255);
}
.paragrapbmi{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.bmichart{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

.late{
  border-radius: 8px;
  padding: 12px;
  width: 120px;
  margin-top: 10px;
  background-color: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
}

th,td{
  border: 1px solid rgba(167, 186, 211, 0.932);
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
table{
  border-collapse: collapse;
  height: 300px;
  margin-top: 30px;
}
th{
  font-size: 25px;
}

.six-section{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background: rgb(34, 34, 34);
  gap: 20px;
}

.bmicalculate{
  color: rgb(255, 255, 255);
  margin: 50px;
  border: none;
}

.bmi1, .h1{
  color: whitesmoke;
  font-size: 40px;
}

.pshould{
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.bmichart{
  font-size: 30px;
}
.bmicalculate{
  margin-bottom: 120px;
}
.bmibtn{
  border-radius: 8px;
  border: none;
  padding: 15px;
  width: 280px;
  background: rgba(255, 255, 255, 0.1);
  margin: 2px;
  color: rgba(255, 255, 255, 0.6);
}

.male{
  border-radius: 8px;
  border: none;
  padding: 15px;
  width: 310px;
  background: rgba(255, 255, 255, 0.1);
  margin: 2px;
  color: rgba(200, 185, 185, 0.6);
  font-size: 12px;
}

.factor{
  border-radius: 8px;
  padding: 15px;
  width: 630px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  color: rgba(187, 169, 169, 0.6);
  border: none;
}

/* Meet Our Team */
.our{
  font-weight: 800;
  font-size: 50px;
  color: whitesmoke;
}
.meet{
  text-align: center;
  margin-bottom: 30px;
  
}
.belive{
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.rowseven{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
}

.freme{
  position: relative;
  
}
.nam{
  position: absolute;
  bottom: 20%;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-left: 50px;
}

.treiner{
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

  /* futer-list section */
  .futer-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
.listt li{
  font-size: 20px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  list-style: none;
}

.ffitnes{
 font-size: 70px;
 margin-bottom: 20px;
 color: rgb(230, 83, 60);
}
.peragraplast{
  color: rgba(255, 255, 255, 0.5);
}

.get{
  margin-left: 35px;
  color: aqua
}
.getone, .gettow{
margin-top: 20px
}

.fil img{
  width: 25px;
  height: 25px;
  margin-top: 20px;
  
}
.tit{
  font-size: 20px;
  color: aqua;
}

hr{
  width: 50%;
  border: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin: 20px auto;
}
.futer{
  background: rgba(255, 255, 255, 0.1);
  padding: 50px;
  margin-top: 100px;
  border-top-left-radius: 125px;
}
.copyright{
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  
  
}



/* hed  new section  */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');

.shape{
 color: rgb(150, 102, 102);
 font-family: "Playwrite DK Uloopet", cursive;
 font-optical-sizing: auto;
 font-weight: 800;
 font-style: italic;
}



  @media screen  and (max-width: 576px) {
    .nav-bar{
      flex-direction: column;
      
    }
    .nav-option{
      display: none;
      
    }
    
    .hamburge{
      display: block;
      margin-top: 12px;
      color: whitesmoke;

    }
    .hamburge i{
    font-size: 30px;
    margin-right: 10px;
    
    }
    .media{
      display: flex;
      gap: 200px;
    }
    .fitnes{
      font-size: 2.50rem;
      margin-left: 15px;
      
    }
    .photobox{
      margin-top: 40px;
    }
    .fastph{
    margin-left: 15px;
    }
  
    .photobox .btn2{
      position: absolute;
      top: 30%;
      left: 50%;
    }
    
    .descripson-br{
      flex-direction: column;
    }
    .get{
      margin-left: 10px;
    }

    .Join{
      padding: 1rem;
      font-size: 15px;
    }
    
    .download{
      padding: 1rem;
      font-size: 15px;
      margin-left: 1rem;
    }
    
    .get h1{
      font-size: 3rem;
      font-weight: 800;
      color: rgb(116, 25, 220);
      margin-top: 3rem;
      
      }
    .habits{
      flex-direction: column;
      gap: 2rem;
    }
    .hading h1{
      font-size: 30px;
    }
    

   /* section33 */
   .section3{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
   }
   .run{
    font-size: 30px;
   }
   .joinnow{
    width: 17rem;
    margin-left: 35px;
    margin-top: 2rem;
   }

    .runimg{
      width: 320px;
      height: 300px;
      margin-top: 3rem;
    }
    /* for section */
    
    .hid{
      display: none;
    }

    
.row-1{
  display: grid;
  grid-template-columns: 0.80fr 1fr;
 }
.row-2{
  display: grid;
  grid-template-columns: 1fr 0.80fr;
 }
 .photogrid img{
  width: 100%;
  height: 200px;
}
#chenging{
  position: absolute;
  bottom: 80%;
}
#chengingto{
  position: absolute;
  left: 5%;
  top: 70%;
 font-size: 11px;

}
.shado5{
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: rgba(66, 255, 0, 0.3);
}
.shado4{
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.shottitle{
  font-size: 11px;
  margin-left: 20px;
}
.pressr{
  font-size: 10px;
}

/* six section */
.six-section{
  flex-direction: column;
}

th,td{
  padding: 5px 12px;
  color: white;
  font-size: 18px;
}
table{
  border-collapse: collapse;
  margin: 30px;

}
th{
  font-size: 15px;
  color: rgb(81, 0, 255);
}
.bmicalculate{
  margin: 30px;
  margin-bottom: 60px;
}

.bmibtn{
  border-radius: 8px;
  padding: 10px;
  width: 120px;
  
}
.male{
  border-radius: 8px;
  padding: 10px;
  width: 140px;
  
}
.factor{
  width: 289px;
  border-radius: 8px;
  padding: 10px;
}

.bmi1, .h1{
  font-size: 30px;
}

.bmichart{
  font-size: 27px;
}
.paragrapbmi{
  font-size: 13px;
  justify-content: first baseline;
}
.latore{
  font-size: 30px;
 
}
.calcuter{
  margin-left: 30px;
}
.latore{
  font-size: 30px;
}

.our{
  font-weight: 800;
  font-size: 30px;
  color: whitesmoke;
}
.belive{
 font-size: 10px;
}
.descrpt{
  font-size: 10px;
}

/* our teme section */
.rowseven{
  grid-template-columns: 1fr ;
}
.hide{
  display: none;
}
.treiner{
  width: 100%;
  height: 300px;
  
}

/* fouter secton */
.futer-list{
 flex-direction: column;
}
.getone{
  margin-top: 30px;
  
}
.listt li{
  font-size: 20px;
}
.gettow{
  margin-top: 50px;
}
hr{
  width: 90%;
  border: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 10px auto;
}

.fil ul{
  display: flex;
  gap: 20px;
  margin-left: 70px;
  

}

  }
  


  /* mediaqury tablet  */

  @media screen and (min-width: 576px) and (max-width: 992px) {
    .habits{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
      

       .six-section{
        flex-direction: column;
        
       }
       .bmicalculate{
        
       }

       .descripson-br{
        flex-direction: column;
       }
       .Join{
        width: 200px;
        
      }
      
      .download{
       width: 250px;
      }

       .photobox img{
        width: 50%;
        height: 100%;
        margin-left: 210px;
      }
       
      .photost, .phto{
        width: 75%;
        
       }

       .photst{
        margin: 30px;
       }

       .treiner{
        width: 100%;
        height: 200px;
      }

      .factor{
        width: 39rem;
      }
   
      th,td{
        padding: 5px 12px;
        color: white;
        font-size: 18px;
      }
      table{
        border-collapse: collapse;
        width: 400px;
        margin-left: 3rem;
      }
      .latore{
        font-size: 40px;
      }
      .calcuter{
        margin-left: 50px;
      }
      th{
        font-size: 15px;
        color: rgb(81, 0, 255);
      }
      hr{
        width: 80%;
        border: 0px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin: 20px auto;
      }
      .get{
        font-size: 20px;
      }
  }
  
  