*{
    margin: 0;
  }
  
  body{
    background-color: rgb(109, 146, 153);
  }
  
  .conteiner{
    width: 90%;
    margin: 3rem auto;
    border-radius: 1rem;
  }
  
  h2{
      font-size: 20px;
      font-weight: 800;
      line-height: normal;
  }
  
  
  
  /* navber style */
  
  .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-option{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 0.50rem;
    border: 1px solid rgb(230, 83, 60);
    border-radius: 15px;
    color: aliceblue;
  
  }
  
  .home{
    background-color: rgb(236, 168, 9);
    border-radius: 5px;
    padding: 0px 4px;
    
  }
  
  .nav-option{
    font-weight: 500;
    font-size: 1rem;
  
  }
  .fitnes{
    font-weight: 700;
    font-size: 2.50rem;
    color: rgb(230, 83, 60);
  }
  
  
  /* descripson bar */
  
  
  .descripson-br{
   display: flex;
   justify-content: space-between;
   text-align: start;
  }
  
  .get h1{
  font-size: 5rem;
  font-weight: 800;
  color: rgb(240, 140, 0);
  margin-top: 3rem;
  
  }
  .get p{
    font-size: 1rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
    
  }
  
  /* btn style */
  .Join{
    border: none;
    padding: 1rem;
    font-size: 17px;
    background-color: rgb(230, 83, 60);
    border-radius: 15px;
    color:whitesmoke;
  }
  
  .download{
    padding: 1rem;
    font-size: 17px;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: 1px solid whitesmoke;
    margin-left: 2rem;
  
  }
  
  .btns{
    margin-top: 2rem;
  }
  
  /* photo btn */
  
  .photobox{
    position: relative;
    width: 100%;
    width: 400px;
  }
  
 
 
  .photobox, .fastph{
    width: 100%;
    height: 100%;
  }
  
  .photobox .btn2{
    position: absolute;
    top: 30%;
    left: 60%;
  
  }
  
  .photobox .btn3{
    position: absolute;
    top: 80%;
    right: 70%;
   
    
  }
  .btn3, .btn2{
    width: 130px;
    height: 70px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: aliceblue;
  }

 




  /* section 222 */
  .hading{
    justify-content: center;
    text-align: center;
  }
  .hading h1{
    font-size: 50px;
    color: whitesmoke;

  }
  .chang{
    color: rgba(255, 255, 255, 0.5);
  }

 .habits{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  gap: 12rem;
 }

 .photost, .phto{
  border-radius: 50%;
  
 }

 .weblivs{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
 }

 .photost, h4{
  font-size: 20px;
  font-weight: 600;
  color: aqua;
 }

  

/* section 333 */

.runimg{
  width: 366px;
  height: 312px;
  border-radius: 25px;
 
}
.runimg, .run{
  color: whitesmoke;
  font-size: 2.50rem;
  width: 800;
  height: 200;
}

.runimg, .we{
  font-size: 1rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
}

.joinnow{
    border: none;
    padding: 1rem;
    font-size: 17px;
    background-color: rgb(230, 83, 60);
    border-radius: 15px;
    color: whitesmoke;
    width: 10rem;
    margin-top: 2rem;
  
}

.section3{
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
  background-color: rgba(72, 69, 66, 0.295);
  padding: 20px;
  border-radius: 15px;
  
 
 
}


/* title hed */
.hedigtitle{
  color: whitesmoke;
}


/* section44 */

.photogrid img{
  width: 100%;
  height: 300px;
}



.row-1{
 display: grid;
 grid-template-columns: 0.50fr 1fr 0.50fr;
}

.row-2{
 display: grid;
 grid-template-columns: 1fr 0.50fr 0.60fr;
}


.photogrid{
  position: relative;
  
}


.shottitle{
  position: absolute;
  bottom: 20%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;


}
#chenging{
  position: absolute;
  bottom: 80%;
}
#chengingto{
  position: absolute;
  top: 30px;
  left: 60%;
  
}

.hedigtitle{
 margin-bottom: 1.5rem;
 margin-top: 4rem;
}

.shado1{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color:rgba(6, 255, 210, 0.5);
}
.shado2{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.3);
}
.shado3{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
}
.shado4{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.shado5{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(66, 255, 0, 0.3);
}
.shado6{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(0, 71, 255, 0.3);
}


/* section five 5 */

.calcuter{
  margin-left: 25%;
  font-size: 36px;
  color: whitesmoke;
}
.paragrapbmi{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.bmichart{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 40px;
  color: whitesmoke;
}

.late{
  border-radius: 8px;
  padding: 12px;
  width: 120px;
  margin-top: 10px;
  background-color: rgb(230, 83, 60);
  border: none;
  color: whitesmoke;

}

th,td{
  border: 1px solid rgba(167, 186, 211, 0.932);
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}
table{
  border-collapse: collapse;
  margin: 50px;

}
th{
  font-size: 25px;
}

.six-section{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #4ddff397;
  
 
}

.bmicalculate{
  color: rgb(254, 254, 254);
  margin: 50px;
}

.bmi1, .h1{
  color: whitesmoke;
  font-size: 40px;
}

.pshould{
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}


.bmibtn{
  border-radius: 8px;
  padding: 15px;
  width: 280px;
  background-color: rgb(241, 241, 251);
  margin: 2px;
 
  
}

.factor{
  border-radius: 8px;
  padding: 10px;
  width: 615px;
  background-color: rgb(241, 241, 251);
  margin-top: 5px;
 
}

/* Meet Our Team */
.meet{
  justify-content: center;
  text-align: center;
}
.row-8{
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.row-9{
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.kul img{
  width: 400px;
  height: 350px;
}




  @media screen  and (max-width: 576px) {
    .nav-bar{
      flex-direction: column;

    }
    
    .photobox .btn2{
      position: absolute;
      top: 30%;
      left: 50%;
    }
    
    .descripson-br{
      flex-direction: column;
      
    }
    .get h1{
      font-size: 3rem;
      font-weight: 800;
      color: rgb(116, 25, 220);
      margin-top: 3rem;
      
      }

    .habits{
      flex-direction: column;
      gap: 2rem;
    }
   /* section33 */
   .section3{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  
   }
    /* for section */
    
    .hid{
      display: none;
    }

    
.row-1{
  display: grid;
  grid-template-columns: 0.80fr 1fr;
 }
.row-2{
  display: grid;
  grid-template-columns: 1fr 0.80fr;
 }
 .photogrid img{
  width: 100%;
  height: 200px;
}
#chenging{
  position: absolute;
  bottom: 80%;
}
#chengingto{
  position: absolute;
  left: 5%;
  top: 70%;
 font-size: 15px;
}
.shado5{
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: rgba(66, 255, 0, 0.3);
}
.shado4{
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

/* six section */
.six-section{
  flex-direction: column;
}
.bmibtn{
  border-radius: 8px;
  padding: 10px;
  width: 120px;
  background-color: rgb(241, 241, 251);
  margin: 2px;
}
.factor{
  width: 275px;
}
  }
  
  
  
  